name: Android Publish

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Android Build]
    types: [completed]
    branches: ['release/**']

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0'
          cache: true

      - name: Build Release AAB
        run: flutter build appbundle

      - name: Deploy to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{secrets.SERVICE_ACCOUNT}}
          packageName: com.tomerpacific.birthday_calendar
          releaseFiles: build/app/outputs/bundle/release/app-release.aab
          track: production
          status: completed

  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo 'Publish workflow failed due to Build workflow failing'
